[package]
name = "wasi-misc-tests"
version = "0.1.0"
authors = ["Dan Gohman <sunfish@mozilla.com>", "Jakub Konka <kubkon@jakubkonka.com>"]
edition = "2018"

[dependencies]
libc = "0.2.65"
wasi = "0.7.0"
more-asserts = "0.2.1"
